*{
    margin:0px;
    padding:0px;
    box-sizing:border-box
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

.base-container {
    display: grid;
    grid-template-rows: 610px repeat(5, 370px);
    grid-template-columns: 370px 1fr 375px;
    background-color: ;
}

.number {
    font-size: 20px;
    color: red;
}

.number1 {
    grid-area: 1/1/2/3;
    background-color: #e9eae2;
}

.header-square {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    margin: 20px 0 0 20px;
}

.header-slider {
    position: relative;
    left: 180px;
    top: -70px;
}

.header-slider__salt-bottle {
    position: absolute;
    top: 90px;
    left: 160px;
}

.header-slider__salt-bottle--arrows-left {
    position: absolute;
    top: 110px;
    left: 140px;
}

.header-slider__salt-bottle--arrows-right {
    position: absolute;
    top: 110px;
    left: 197px;
}

.header-menu{
    display: flex;
    background-image: url(../image/number1/header-menu/header_menu_back_img.png);
}

.header__menu--sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4, 1fr);
}

.sub-item {
    font-size: 1.6rem;
    font-family: "Roboto_Black", sans-serif;
}

.number3 {
    background-image: url(../image/number3/Shape\ 3.png);
}

.number4 {
    background-color: #f5f5f5;
}

.number5 {
    background-color: #f5f5f5;
    /* тут псевдо элемент - */
}


.number6 {
    grid-area: 3/1/4/4;
    background-image: url(../image/number6/Layer6.png);
    background-repeat: no-repeat;
    background-size: 100% 375px;
}

.number7 {
    background-color: #f5f5f5;
}

.number8 {
    background-color: #f5f5f5;
}

.number13 {
    grid-area: 6/1/7/4;
    background-image: url(../image/number13/Layer13.png);
    background-repeat: no-repeat;
    background-size: 100% 370px;
}

.number9 {
    background-image: url(../image/number9/shakers_back_img.png);
}

.number10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../image/number10/authentic_back_img.png);
}